In [48]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

df = pd.read_csv('data/income_evaluation.csv', sep=r'\s*,\s*',
                           header=0, encoding='ascii', engine='python')
df.head(15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K

In [49]:
workclass = df['workclass']
workclass.head(15)

0            State-gov
1     Self-emp-not-inc
2              Private
3              Private
4              Private
5              Private
6              Private
7     Self-emp-not-inc
8              Private
9              Private
10             Private
11           State-gov
12             Private
13             Private
14             Private
Name: workclass, dtype: object

In [68]:
tot_instances = df.shape[0]
threshold = tot_instances*.005
print('the minimum count threshold is: '+ str(threshold))

the minimum count threshold is: 3256.1000000000004

In [69]:


obj_columns = list(df.select_dtypes(include=['object']).columns)
df = df.apply(lambda x: x.mask(x.map(x.value_counts())<threshold, 'RARE')if x.name in obj_columns else x)

In [67]:
df_encoded = pd.get_dummies(data=df, columns=obj_columns)
df_encoded.head(20)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,race_White,sex_Female,sex_Male,native-country_?,native-country_Mexico,native-country_Philippines,native-country_RARE,native-country_United-States,income_<=50K,income_>50K
0,39,77516,13,2174,0,40,0,0,0,0,...,1,0,1,0,0,0,0,1,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,1,0,1,0,0,0,0,1,1,0
2,38,215646,9,0,0,40,0,0,0,1,...,1,0,1,0,0,0,0,1,1,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,1,0,0,0,0,1,0,1,0
5,37,284582,14,0,0,40,0,0,0,1,...,1,1,0,0,0,0,0,1,1,0
6,49,160187,5,0,0,16,0,0,0,1,...,0,1,0,0,0,0,1,0,1,0
7,52,209642,9,0,0,45,0,0,0,0,...,1,0,1,0,0,0,0,1,0,1
8,31,45781,14,14084,0,50,0,0,0,1,...,1,1,0,0,0,0,0,1,0,1
9,42,159449,13,5178,0,40,0,0,0,1,...,1,0,1,0,0,0,0,1,0,1
10,37,280464,10,0,0,80,0,0,0,1,...,0,0,1,0,0,0,0,1,0,1
11,30,141297,13,0,0,40,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
12,23,122272,13,0,0,30,0,0,0,1,...,1,1,0,0,0,0,0,1,1,0
13,32,205019,12,0,0,50,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
14,40,121772,11,0,0,40,0,0,0,1,...,0,0,1,1,0,0,0,0,0,1
15,34,245487,4,0,0,45,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
16,25,176756,9,0,0,35,0,0,0,0,...,1,0,1,0,0,0,0,1,1,0
17,32,186824,9,0,0,40,0,0,0,1,...,1,0,1,0,0,0,0,1,1,0
18,38,28887,7,0,0,50,0,0,0,1,...,1,0,1,0,0,0,0,1,1,0
19,43,292175,14,0,0,45,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1